<html>
    <head>
        <title>Lilly's blog</title>
    </head>
    <h1>Ueberschrift 1</h1>
    <h2>Unterueberschrift</h2>
    <p>Das ist ein Beispieltext</p>
    <em>Dieser Text soll hervorgehoben werden</em>
    <br>
    <strong>Dieser Text soll noch stärker hervorgehoben werden</strong>

    <div>

    <p>Klicke <a href="https://djangogirls.org">hier</a>, um auf die Djangogirls-Website zu gelangen.</p>
  </div>

    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
